{% extends "Postlogin/navbar.html" %}  
{% block title %} Main Menu {% endblock %}
{% block content%}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <h1>Bienvenido a home! {{ user_name }} </h1>

    <p>MFA setup</p>
    <form>
        {% csrf_token %}
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox"id="mfa_setup"{% if mfa_enabled %}checked{% endif %} onchange="updateMfaEnabled(this)">
            <label class="form-check-label" for="flexSwitchCheckDefault">MFA activo</label>
        </div>
    </form>
    
    <script>
        function updateMfaEnabled(checkbox) {
            var isChecked = checkbox.checked;
            var url = '{% url 'update_mfa_enabled' %}';
            var csrftoken = Cookies.get('csrftoken');
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({'mfa_enabled': isChecked})
            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error(error));
        }
    </script>
{% endblock %}